nav,p,button{
    text-align: center;
}
.gameBoard{
    background: teal;
    padding: 20px;
    margin: 20px;
    color: white;
}
.startButton{
    height: 20%;
    width: 30%;
    padding: 20px;
    margin-top: 20px; 
    font-size: 18px;
    
}
/* p{
    padding: 20px;
    margin-top: 20px;
    font-size: 18px;

} */
.seperateQuestions{
    padding: 20px;
    font-weight: bold;
}

label{
    padding: 5px;
}
#submit{
    margin: 0 auto;
    display: block;
}
body{
    background-repeat: repeat;
    background-size: cover;
    z-index:-1;

}